<h1>Welcome to Film Time</h1>
<p>It's time for a film, but where should you start? With so many to choose from, it can sometimes feel impossible to simply pick one and watch it. That's why Film Time is here to help you on your journey.</p>
<p>It's time for you to start at the beginning, when the world of film was still young. You'll work your way up through Black and White to Colour, from silent to surround sound. Now begins your film adventure all across the world.</p>
